@media screen and (max-width: 800px) {
    .header {
        &__checkbox:checked ~ &__label {
            transform: rotate(-45deg);
            width: 0;
        }
        &__checkbox:checked ~ &__label:before {
            animation: burgerTop 0.5s linear forwards;
        }
        &__checkbox:checked ~ &__label:after {
            animation: burgerBottom 0.5s linear forwards;
        }
        &__checkbox:checked ~ &__label {
            left: 10px;
            top: 13px;
        }
        &__label span {
            width: 3em;
            height: 3em;
            display: block;
            position: relative;
            bottom: 20px;
        }
        &__label,
        &__label::before,
        &__label::after {
            height: 2px;
            width: 2em;
            display: none;
            background-color: black;
            position: relative;
            cursor: pointer;
        }
        &__label {
            left: 3px;
            z-index: 100;
        }
        &__label::before {
            bottom: 6px;
            content: "";
            height: 2px;
            width: 3em;
            background-color: black;
            position: absolute;
        }
        &__label::after {
            top: 6px;
            content: "";
            height: 2px;
            width: 1em;
            background-color: black;
            position: absolute;
        }
        &__login-btn {
            display: none;
        }
        display: grid;
        grid-template-columns: 10% 90%;
        &__logo {
            grid-column: 2;
            margin: auto;
        }
        &__label,
        &__label::after,
        &__label::before {
            grid-column: 1;
            display: unset;
        }
        &__checkbox:checked ~ &__logo {
            display: none;
        }
        &__list-element:not(:first-of-type) {
            margin-left: 10px;
        }
        &__checkbox:checked ~ nav ul {
            display: block;
            opacity: 1;
            transition: opacity 0.8s;
            pointer-events: auto;
            position: absolute;
            top: 0;
            width: 100vw;
            text-align: center;
            padding-top: 40px;
            margin: 0;
            background-color: white;
            height: 100%;
        }
        &__checkbox:checked ~ nav ul li {
            margin-bottom: 40px;
        }
        &__checkbox:checked ~ nav ul li:first-of-type {
            margin-top: 45%;
        }
        &__checkbox:checked ~ &__span {
            padding: 25px;
        }
        &__checkbox:checked ~ &__white-space {
            padding-bottom: 60px;
        }
        &__checkbox:checked ~ .width {
            width: 100%;
        }
    }
    nav ul {
        pointer-events: none;
        opacity: 0;
        margin-left: 40px;
        position: absolute;
    }
    .main-section__figure img {
        display: none;
    }
    a {
        font-size: 35px;
    }
    .statistics {
        display: none;
    }
}
