@media screen and (max-width: 800px) {
    .header {
        &__checkbox {
            display: none;
        }
        &__checkbox:checked ~ &__label {
            transform: rotate(-45deg);
            width: 0;
        }
        &__checkbox:checked ~ &__label:before {
            animation: burgerTop 0.5s linear forwards;
        }
        &__checkbox:checked ~ &__label:after {
            animation: burgerBottom 0.5s linear forwards;
        }
        &__checkbox:checked ~ &__label {
            left: 10px;
            top: 13px;
        }
        &__label span {
            width: 3em;
            height: 3em;
            display: block;
            position: relative;
            bottom: 20px;
        }
        &__label,
        &__label::before,
        &__label::after {
            height: 2px;
            width: 2em;
            display: none;
            background-color: black;
            position: relative;
            cursor: pointer;
        }
        &__label {
            left: 3px;
        }
        &__label::before {
            bottom: 6px;
            content: "";
            height: 2px;
            width: 3em;
            background-color: black;
            position: absolute;
        }
        &__label::after {
            top: 6px;
            content: "";
            height: 2px;
            width: 1em;
            background-color: black;
            position: absolute;
        }
        &__login-btn {
            display: none;
        }
        display: grid;
        grid-template-columns: 10% 80% 10%;
        &__logo {
            grid-column: 2;
            margin: auto;
        }
        &__label,
        &__label::after,
        &__label::before {
            grid-column: 1;
            display: unset;
        }
        &__checkbox:checked ~ &__logo {
            display: none;
        }
        &__list-element:not(:first-of-type) {
            margin-left: 10px;
        }
        &__checkbox:checked ~ nav ul {
            opacity: 1;
            transition: opacity 3s;
            pointer-events: auto;
        }
        
    }
    nav ul {
        pointer-events: none;
        opacity: 0;
        margin-left: 40px;
    }
    .main-section__figure img {
        display: none;
    }
    a {
        font-size: 14px;
    }
}
